* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container {
  background: #fff;
  padding: 20px 25px;
  border-radius: 10px;
  width: 320px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 6px 0 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
}

button {
  background: #27ae60;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #1e874b;
}

ul {
  list-style: none;
  padding-left: 0;

  max-height: 400px;
  overflow-y: scroll;

  scrollbar-width: thin;
  scrollbar-color: rgb(27, 27, 27) transparent;
}

ul li {
  background: #e9e9e9;
  padding: 10px;
  margin-bottom: 6px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  line-height: 1.45;
}